@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');
.navBar {
    display: flex;
    justify-content: space-evenly;
    background-color: #111;
    border-color: #111;
    border: 1px solid transparent;
}

.loadPageForm {
    display: flex;
    background-color: #111;
    border-color: #111;
    border: 1px solid transparent;
    margin-top: 1%;
}

.navBtn {
    text-decoration: none;
    color: #8e8e8e;
    font-size: 1.5em;
    margin: 1%;
}

.subButton {
    color: #8e8e8e;
    background-color: #111;
    border: none;
    padding: 1%;
}

.minFrequencyToDisplayControl {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
}

.sortDirectionControl {
    margin-top: 1%;
}

.subButton:hover {
    color: white;
    border-bottom: 1px solid white;
}

.textInput {
    background-color: #111;
    border: none;
    padding: 1%;
    color: white;
    margin-right: 0.5%;
}

/* This is for the npm react-select picker */

.css-yk16xz-control {
    background-color: black !important;
}

/*background text for this*/

.css-1uccc91-singleValue {
    color: white !important;
}

/*dropdown of options*/

.css-1pahdxg-control {
    background-color: black !important;
    color: #8e8e8e !important;
}

.css-26l3qy-menu {
    background-color: black !important;
}

/*option currently hovering over*/

.css-1n7v3ny-option {
    color: white !important;
    background-color: #8e8e8e !important;
}

/*option currently selected*/

.css-9gakcf-option {
    background-color: black !important;
    color: white !important;
}

/*all other options*/

.css-yt9ioa-option {}

.formField {
    display: flex;
    align-items: center;
}

.formFieldLabel {
    padding-right: 1%;
}

.navBtn:hover {
    color: white;
}

.navItemSelected {
    color: white;
    border-bottom: 1px solid white;
}

.articleDivider {
    width: 100%;
    border-color: #444;
}

body {
    background-color: #191919;
    color: #8e8e8e;
    font-family: 'Roboto Slab', sans-serif;
    padding: 1%;
}

.green {
    color: green;
}

.red {
    color: red;
}

.chart-container {}

.summaryContainer {
    outline: 1px solid white !important;
    color: white;
    padding: 2%;
    width: 25%;
    margin: 2%;
}

.simulationData {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Simulator {
    box-shadow: 0px 0px 5px #fff;
}

.marketSummaryTab {
    display: flex;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}

.dataSegment {
    display: flex;
    flex-direction: row;
}

.marketSummary {
    display: flex;
    flex-wrap: wrap;
}

.dateOccurencesForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.twoChartsCondensed {
    display: flex;
    flex-flow: row;
}

.twoChartsExpanded {
    display: flex;
    flex-direction: column;
}

.chartCondensed {
    width: 50%;
}

.chartExpanded {
    display: flex;
}