
.bnnmarketcallitem{
    margin: 1%;
    margin-right: 50%;
}

.News{
    display: flex;
    flex-direction: column;
}

.bnnmarketcallitemArticleButton{
    background-color: #bbb;
    color: #000;
    border: 0;
    border-radius: 1em;
    padding: 0.7em 8em;
    cursor: pointer;
}

.bnnmarketcallitemArticleButton:hover{
    color: #8e8e8e;
}